html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* убираем скролл */
  background: #050509;
}

#root {
  width: 100%;
  height: 100%;
}

.app-root {
  width: 100%;
  height: 100%;
}
